.container {
    margin: 50px;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  
#portal {
    font-size: 25px;
    color: white;
    background-color: #000;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    padding: 25px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
}
  
#portal:active {
    top: 2px;
}
  
#button1{
    position: absolute;
    top: 26%;
    left: 33%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

#button2{
    position: absolute;
    top: 26%;
    left: 66%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

h1{
    font-size: 80px;
    color: black;
    height: auto;
    margin: 10px;
    margin-left: 34vw;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    text-align: center;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  